server:
  port: 8701
spring:
  profiles:
    active: ${ENVIRONMENT:dev}
  application:
    name: gateway
  cloud:
    nacos:
      username: ${NACOS_USERNAME}
      password: ${NACOS_PASSWORD}
      discovery:
        namespace: szmengran-${spring.profiles.active}
        server-addr: ${NACOS_SERVER_ADDRESS}
      config:
        namespace: szmengran-${spring.profiles.active}
        server-addr: ${NACOS_SERVER_ADDRESS}
  config:
    import:
      - nacos:gateway.yaml
      - nacos:security.yaml
      - nacos:common.yaml
      - nacos:common-redis.yaml
      - nacos:common-jdbc.yaml
      - nacos:common-dubbo.yaml
      - nacos:common-rocketmq.yaml